<% include ../partials/header.ejs %>

<% include ../components/forum-hero %>

<section id="forum">
  <div class="container-fluid" style="padding: 4rem;">
    <h2>Community</h2>
    <div class="row">
      <a href="#" class="forum-card col-sm-12 col-md-6 col-lg-6 m-3" style="display: inline-flex;border: 1px solid rgba(255,255,255,.15);padding: 0px !important;text-decoration: none !important;">
        <div>
          <img class="card-img-top" src="/images/md-icon.png" alt="Card image cap" style="width: 50px !important; height: 50px !important;margin: 1.5rem !important;">
        </div>
        <div class="p-3" style="width: 100%;max-height: 3.5rem !important;">
          <h3>General Discussion</h3>
          <p>Go here to talk about all things Pro Builder.</p>
        </div>
      </a>
      <a href="#" class="forum-card col-sm-12 col-md-6 col-lg-6 m-3" style="display: inline-flex;border: 1px solid rgba(255,255,255,.15);padding: 0px !important;text-decoration: none !important;">
        <div>
          <img class="card-img-top" src="/images/md-icon.png" alt="Card image cap" style="width: 50px !important; height: 50px !important;margin: 1.5rem !important;">
        </div>
        <div class="p-3" style="width: 100%;max-height: 3.5rem !important;">
          <h3>General Discussion</h3>
          <p>Go here to talk about all things Pro Builder.</p>
        </div>
      </a>
    </div>
    <h2>Support</h2>
    <div class="row">
      <a href="#" class="forum-card col-sm-12 col-md-6 col-lg-6 m-3" style="display: inline-flex;border: 1px solid rgba(255,255,255,.15);padding: 0px !important;text-decoration: none !important;">
        <div>
          <img class="card-img-top" src="/images/md-icon.png" alt="Card image cap" style="width: 50px !important; height: 50px !important;margin: 1.5rem !important;">
        </div>
        <div class="p-3" style="width: 100%;max-height: 3.5rem !important;">
          <h3>General Discussion</h3>
          <p>Go here to talk about all things Pro Builder.</p>
        </div>
      </a>
      <a href="#" class="forum-card col-sm-12 col-md-6 col-lg-6 m-3" style="display: inline-flex;border: 1px solid rgba(255,255,255,.15);padding: 0px !important;text-decoration: none !important;">
        <div>
          <img class="card-img-top" src="/images/md-icon.png" alt="Card image cap" style="width: 50px !important; height: 50px !important;margin: 1.5rem !important;">
        </div>
        <div class="p-3" style="width: 100%;max-height: 3.5rem !important;">
          <h3>General Discussion</h3>
          <p>Go here to talk about all things Pro Builder.</p>
        </div>
      </a>
      <a href="#" class="forum-card col-sm-12 col-md-6 col-lg-6 m-3" style="display: inline-flex;border: 1px solid rgba(255,255,255,.15);padding: 0px !important;text-decoration: none !important;">
        <div>
          <img class="card-img-top" src="/images/md-icon.png" alt="Card image cap" style="width: 50px !important; height: 50px !important;margin: 1.5rem !important;">
        </div>
        <div class="p-3" style="width: 100%;max-height: 3.5rem !important;">
          <h3>General Discussion</h3>
          <p>Go here to talk about all things Pro Builder.</p>
        </div>
      </a>
      <a href="#" class="forum-card col-sm-12 col-md-6 col-lg-6 m-3" style="display: inline-flex;border: 1px solid rgba(255,255,255,.15);padding: 0px !important;text-decoration: none !important;">
        <div>
          <img class="card-img-top" src="/images/md-icon.png" alt="Card image cap" style="width: 50px !important; height: 50px !important;margin: 1.5rem !important;">
        </div>
        <div class="p-3" style="width: 100%;max-height: 3.5rem !important;">
          <h3>General Discussion</h3>
          <p>Go here to talk about all things Pro Builder.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="container text-center">
    <p><small><span style="color: rgba(255,255,255,.5);">Thanks for using the </span>Marketing Depot Forums <span style="color: rgba(255,255,255,.5);">(1.0.2)</span></small></p>
  </div>
</section>

<% include ../partials/main-footer.ejs %>
