<% include ../partials/head %>
<header>
  <nav class="navbar navbar-light bg-light" style="z-index: 1030; background: rgba(255,255,255,.05) !important;">
    <a class="navbar-brand" href="/"><img src="https://us.marketingdepot.ca/wp-content/uploads/2017/12/logo-1-e1511384985654.png" width="60" height="60" alt=""></a>
    <ul class="nav" style="float: left !important;margin-right: auto !important;">
      <li class="nav-item"><a class="nav-link main-menu" href="#">Software</a></li>
      <li class="nav-item main-menu"><a class="nav-link" href="#">Shop</a></li>
      <li class="nav-item"><a class="nav-link main-menu" href="/news">News</a></li>
      <li class="nav-item"><a class="nav-link main-menu" href="#">MD TV</a></li>
    </ul>
    <ul class="nav justify-content-end">
      <% if(!currentUser){ %>
      <li class="nav-item"><a class="nav-link account-menu" href="/register">Register</a></li>
      <li class="nav-item"><a class="nav-link account-menu" href="/login">Login</a></li>
      <% } else { %>
      <li class="nav-item"><a class="nav-link account-menu" href="/logout">Logout</a></li>
      <li class="nav-item"><a class="nav-link account-menu" href="#"><%= currentUser.first_name %></a></li>
      <% } %>
    </ul>
  </nav>
</header>
<body>
