<% include ../partials/head %>
<header>
  <nav class="navbar main-navbar" style="z-index: 1030; background: rgba(255,255,255,.05) !important;">
    <a class="navbar-brand main-navbar-brand" href="/"><img src="/images/logo.png" width="60" height="60" alt=""></a>
    <ul class="nav" style="float: left !important;margin-right: auto !important;">
      <li class="nav-item"><a class="nav-link main-menu" href="#">Software</a></li>
      <li class="nav-item main-menu"><a class="nav-link" href="/shop">Shop</a></li>
      <li class="nav-item"><a class="nav-link main-menu" href="/news">News</a></li>
      <li class="nav-item"><a class="nav-link main-menu" href="#">MD TV</a></li>
    </ul>
    <ul class="nav justify-content-end">
      <% if(!currentUser){ %>
      <li class="nav-item"><a class="nav-link account-menu" href="/register">Register</a></li>
      <li class="nav-item"><a class="nav-link account-menu" href="/login">Login</a></li>
      <% } else { %>
      <li class="nav-item"><a class="nav-link account-menu" href="/logout">Logout</a></li>
      <li class="nav-item"><a class="nav-link account-menu" href="#"><%= currentUser.first_name %></a></li>
      <% } %>
    </ul>
  </nav>
</header>
<body>
