<div class="row" style="padding: 20px;">
  <div class="col-sm-12 home-events-list">
    <a id="events-list-item" href="#">
      <div class="col-sm-4" style="margin-top: 30px;padding: 10px;">
        <div class="home-events-list-date">APR 29</div>
      </div>
      <div class="col-sm-8" style="padding: 20px;">
        <p style="margin-bottom:5px;">Pro Leads</p>
        <h4 class="text-white">Grand Opening Codeoff</h4>
      </div>
    </a>
  </div>
  <p></br><strong><span style="color:rgba(255,255,255,.4);font-weight:400;font-size:14px;">Times are shown in UTC -6</span></strong></p>
</div>
