<footer id="footer">
  <div class="empty-space-20"></div>
  <div class="empty-space-20"></div>
  <div class="wrapper">
    <div class="copyright">
      <div class="container text-white">
        <h4 style="text-align: center;"><img class="alignnone size-full wp-image-65" src="/images/logo.png" alt="" width="80" height="80" /></h4>
        <h4 style="text-align: center;font-size:18px !important;">CAREERS | ABOUT | SUPPORT | PRESS | API</h4>
        <p style="text-align: center;margin-bottom:0px !important;"><span style="color: #999999;font-size:14px !important;">©2017 MARKETING DEPOT GROUP, LTD. ALL RIGHTS RESERVED.</span></p>
        <p style="text-align: center;"><span style="color: #999999;font-size:13px !important;">All trademarks referenced herein are the properties of their respective owners.</span></p>
        <h5 style="text-align: center;font-size:14px !important">PRIVACY | TERMS</h5>
        <div class="empty-space-80"></div>
      </div>
    </div>
  </div>
  <div class="empty-space-20"></div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
