<nav id="secondary-shop-menu" class="shop_navbar">
  <div class="shop-menu-container">
    <div class="shop-menu-header">
      <div id="shop-left-menu" class="secondary_shop_menu">
        <div class="widget widget_nav_menu">
          <div class="menu-shop-categories-container">
            <ul id="menu-shop-categories" class="menu">
              <li id="menu-item-175" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-175"><a href="#"><span class="fa fa-home shop-home-icon"></span>Home</a></li>
              <li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-176"><a href="#">Software &amp; Services</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
