<% if(parent === "probuilder"){ %>
  <div class="container-fluid" style="margin-top: -60px;padding: 0px;">
    <div class="w-100">
      <div class="w-100" style="background: url(/images/probuilder.jpg) #420A89 no-repeat top center; min-height: 500px !important;" alt="First slide"></div>
    </div>
    <div class="container slider-content-pane">
      <div class="col-md-12" style="margin-top:120px;padding:20px;">
        <img src="/images/Pro-Builder-Logo.png" alt="" height="110px" style="margin-bottom:40px;">
        <h1 class="text-white slider-caption">Build unlimited</br>custom websites</h1>
      </div>
    </div>
  </div>
<% } %>
<% if(parent === "proleads"){ %>
  <div class="container-fluid" style="margin-top: -60px;padding: 0px;">
    <div class="w-100">
      <div class="w-100" style="background: url(/images/pro-leads-slide-background-13.jpg) #420A89 no-repeat top center; min-height: 500px !important;" alt="First slide"></div>
    </div>
    <div class="container slider-content-pane">
      <div class="col-md-12" style="margin-top:120px;padding:20px;">
        <img src="/images/pro-leads-logo.png" alt="" height="140px" style="margin-bottom:40px;">
        <h1 class="text-white slider-caption">Easy automatic</br>email marketing</h1>
      </div>
    </div>
  </div>
<% } %>
<% if(parent === "watchtower"){ %>
  <div class="container-fluid" style="margin-top: -60px;padding: 0px;">
    <div class="w-100">
      <div class="w-100" style="background: url(/images/watchtower-slide-background-3.jpg) #420A89 no-repeat top center; min-height: 500px !important;" alt="First slide"></div>
    </div>
    <div class="container slider-content-pane">
      <div class="col-md-12" style="margin-top:120px;padding:20px;">
        <img src="/images/watchtower-logo.png" alt="" height="140px" style="margin-bottom:40px;">
        <h1 class="text-white slider-caption">Scan SEO on any</br>website for free</h1>
      </div>
    </div>
  </div>
<% } %>
<% if(parent === "mdphones"){ %>
  <div class="container-fluid" style="margin-top: -60px;padding: 0px;">
    <div class="w-100">
      <div class="w-100" style="background: url(/images/md-phones-slide-background-3.jpg) #420A89 no-repeat top center; min-height: 500px !important;" alt="First slide"></div>
    </div>
    <div class="container slider-content-pane">
      <div class="col-md-12" style="margin-top:120px;padding:20px;">
        <img src="/images/md-phones-logo.png" alt="" height="50px" style="margin-bottom:60px;">
        <h1 class="text-white slider-caption">Build your own</br>call center free</h1>
      </div>
    </div>
  </div>
<% } %>
