<div class="featuresPanels row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <a href="#" style="text-decoration: none !important;display: block !important;">
      <div class="featuredPanelBackground" style="background-image: url(https://static.starcraft2.com/dist/images/content/intro-panels/img-mode-tile--campaign-150ac4ea27ba6e03107f92f405119b4e7dc3a014ad925665ba9cdba4dc355ede2635b21327e10b353be11721446de570e993b3d0fc6f255432ce449e9a1d40e5.jpg);height: 100% !important;">
        <div class="featurePanelTop text-center" style="padding-top:40% !important;padding-bottom:40% !important;">
          <button class="btn" align="middle">
            <i class="fa fa-play"></i>
          </button>
        </div>
        <div class="p-4 text-center" style="margin-bottom: 50px !important;">
          <h3 class="p-3 text-white text-uppercase">Feature Title</h3>
          <p style="font-size: 1.1rem !important;font-weight: 400 !important;">Feature description goes here....</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    <a href="#" style="text-decoration: none !important;display: block !important;">
      <div class="featuredPanelBackground" style="background-image: url(https://static.starcraft2.com/dist/images/content/intro-panels/img-mode-tile--campaign-150ac4ea27ba6e03107f92f405119b4e7dc3a014ad925665ba9cdba4dc355ede2635b21327e10b353be11721446de570e993b3d0fc6f255432ce449e9a1d40e5.jpg);height: 100% !important;">
        <div class="featurePanelTop text-center" style="padding-top:40% !important;padding-bottom:40% !important;">
          <button class="btn" align="middle">
            <i class="fa fa-play"></i>
          </button>
        </div>
        <div class="p-4 text-center" style="margin-bottom: 50px !important;">
          <h3 class="p-3 text-white text-uppercase">Feature Title</h3>
          <p style="font-size: 1.1rem !important;font-weight: 400 !important;">Feature description goes here....</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    <a href="#" style="text-decoration: none !important;display: block !important;">
      <div class="featuredPanelBackground" style="background-image: url(https://static.starcraft2.com/dist/images/content/intro-panels/img-mode-tile--campaign-150ac4ea27ba6e03107f92f405119b4e7dc3a014ad925665ba9cdba4dc355ede2635b21327e10b353be11721446de570e993b3d0fc6f255432ce449e9a1d40e5.jpg);height: 100% !important;">
        <div class="featurePanelTop text-center" style="padding-top:40% !important;padding-bottom:40% !important;">
          <button class="btn" align="middle">
            <i class="fa fa-play"></i>
          </button>
        </div>
        <div class="p-4 text-center" style="margin-bottom: 50px !important;">
          <h3 class="p-3 text-white text-uppercase">Feature Title</h3>
          <p style="font-size: 1.1rem !important;font-weight: 400 !important;">Feature description goes here....</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-12 text-center">
    <div class="empty-space-80"></div>
    <h3 class="m-2"style="display: inline-flex !important;">For more on these features visit our Software Overview.</h3>
    <a href="#" class="btn btn-lg btn-primary" style="display: inline-flex !important;margin-top: -.5rem !important;">Learn More</a>
    <div class="empty-space-80"></div>
  </div>
</div>
