<div class="container-fluid p-5">
  <div class="featuresPanels row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card trialCard" style="width: 100%;border-radius:0px;">
        <div class="card-img-top trialCard-Img">
          <img class="card-img-top" style="border-radius:0px;" src="https://static.starcraft2.com/dist/images/content/f2p-cards/img-f2p-multiplayer-04c877b6c5b7d8722e37590adfba02b5e7e9466bee5990f7749872284f92b4e002222f9545758fc6a433e8d9fa07ed2b368741a0d40f946e7467249cf28c51a8.jpg" alt="Card image cap">
        </div>
        <div class="card-body trialCard-Body">
          <h3 class="">Feature Title</h3>
          <p class="card-text" style="font-size: 1.2rem !important;font-weight: 400 !important;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card trialCard" style="width: 100%;border-radius:0px;">
        <div class="card-img-top trialCard-Img">
          <img class="card-img-top" style="border-radius:0px;" src="https://static.starcraft2.com/dist/images/content/f2p-cards/img-f2p-multiplayer-04c877b6c5b7d8722e37590adfba02b5e7e9466bee5990f7749872284f92b4e002222f9545758fc6a433e8d9fa07ed2b368741a0d40f946e7467249cf28c51a8.jpg" alt="Card image cap">
        </div>
        <div class="card-body trialCard-Body">
          <h3 class="">Feature Title</h3>
          <p class="card-text" style="font-size: 1.2rem !important;font-weight: 400 !important;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card trialCard" style="width: 100%;border-radius:0px;">
        <div class="card-img-top trialCard-Img">
          <img class="card-img-top" style="border-radius:0px;" src="https://static.starcraft2.com/dist/images/content/f2p-cards/img-f2p-multiplayer-04c877b6c5b7d8722e37590adfba02b5e7e9466bee5990f7749872284f92b4e002222f9545758fc6a433e8d9fa07ed2b368741a0d40f946e7467249cf28c51a8.jpg" alt="Card image cap">
        </div>
        <div class="card-body trialCard-Body">
          <h3 class="">Feature Title</h3>
          <p class="card-text" style="font-size: 1.2rem !important;font-weight: 400 !important;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <div class="empty-space-80"></div>
      <h3 class="m-2"style="display: inline-flex !important;">Visit the Marketing Depot Shop to get started.</h3>
      <a href="#" class="btn btn-lg btn-primary text-uppercase" style="display: inline-flex !important;margin-top: -.5rem !important;">Shop Marketing Depot</a>
      <div class="empty-space-80"></div>
    </div>
  </div>
</div>
