<div id="product-description" class="container-fluid">
  <div class="row">
    <div id="product-description-col" class="col-sm-8 col-md-8 col-lg-8">
      <h2 id="product-description-title"><%= software.descriptionTitle %></h2>
      <p><%= software.description %></p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <ul class="required-top">
        <li>Requires internet connection, Marketing Depot account, and Marketing Depot MD Pro desktop app to use.</li>
        <li><a href="#product-details">Product Details</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="empty-space-20"></div>
      <hr style="border-color:rgba(255,255,255,.15) !important;">
    </div>
  </div>
</div>
