<% include ../partials/header %>

<div class="container-fluid news-top-container">
    <div class="row news-top-gallery">
      <% include ../components/news-featured-top %>
    </div>
</div>
<div class="container-fluid">
  <div class="container p-5">
    <h2>Recent News</h2>
    <div class="row">
      <% include ../components/news-recent %>
    </div>
  </div>
</div>

<% include ../partials/main-footer%>
