<nav>
  <div class="ui left fixed vertical menu inverted">
    <div class="container-fluid p-2">
      <a href="/">
        <div class="row">
          <div class="col-sm-3" style="padding:7.5px !important;">
            <img src="/images/md-icon.png" height="30px">
          </div>
          <div class="col-sm-9" style="padding:5px !important;margin-left:-10px !important;">
            <h1 align="middle" class="text-white text-left">CMS</h1>
          </div>
        </div>
      </a>
    </div>
    <a class="item" href="/admin">Dashboard</a>
    <a class="item" href="/admin/posts">Posts</a>
    <a class="item" href="">Products</a>
    <a class="item" href="/admin/software">Software</a>
    <a class="item" href="/admin/forums">Forums</a>
    <a class="item">Subscriptions</a>
    <a class="item">Customers</a>
    <a class="item" href="/admin/users">Users</a>
    <a class="item">Settings</a>
  </div>
</nav>
