<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://s3.amazonaws.com/ephox-static-ephox-com/jsfiddle/textboxio/textboxio.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" integrity="sha256-oDCP2dNW17Y1QhBwQ+u2kLaKxoauWvIGks3a4as9QKs=" crossorigin="anonymous" />
    <link rel="shortcut icon" href="/images/md-icon.png" />
    <title>Dashboard | Marketing Depot</title>
    <style>
      body {
        background: rgba(0,0,0,.05) !important;
        color: #1b1c1d !important;
      }
      .form-control {
          display: block;
          width: 100%;
          padding: .375rem .75rem !important;
          font-size: 1rem !important;
          line-height: 1.5;
          color: #495057 !important;
          background-color: #fff !important;
          background-clip: padding-box;
          border: 1px solid #ced4da !important;
          border-radius: .25rem !important;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    </style>
  </head>
  <body>
